node_modules
.next
.vercel
out
public
dist
build

*.log
.eslintcache
.npm
.yarn

coverage
.husky

.env
.env.*
.local
*.local

public/
*.png
*.jpg
*.jpeg
*.svg
*.ico
*.webp
*.gif

package-lock.json
yarn.lock
pnpm-lock.yaml

.idea
.vscode